<header id="main_header" class="cf">
    <div class="wrapper_wide">
      <a href="index.html" id="logo">Podcast.fm</a>
      <nav>
        <ul>
         <li><a href="podcasts.html">Explore</a></li>
         <li><a href="sign-in.html">Sign In</a></li>
         <li><a href="sign-up.html">Create a Podcast</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="podcast_show">
    <div id="show_banner">
      <div class="wrapper_skinny">
      <h1>The Rocketship Podcast Dashboard</h1>
      </div>
    </div>

    <div id="links">
      <div class="wrapper_skinny">
        <ul>
          <li class="current">Episodes</li>
          <li><a href="#">New Episode</a></li>
          <li><a href="#">Account Settings</a></li>
          <li><a href="#">View Podcast</a></li>
        </ul>
      </div>
    </div>


  <div id="episodes">
    <div class="wrapper_skinny">
      <ul class="cf">
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg" alt="Narwhals Podcast" alt="test">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to pull off 12 (Well Executed) Startups in 12 Months</a></h2>
            <p class="description">Post acon ipsum dolor amet ball tip biltong pork loin pork chop hamburger jerky. Shoulder spare ribs shankle short loin meatball tri-tip ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.</p>
            <div class="authorized_links">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </div>
          </div>
      </li>

        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg" alt="Narwhals Podcast">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to pull off 12 (Well Executed) Startups in 12 Months</a></h2>
            <p class="description">Post acon ipsum dolor amet ball tip biltong pork loin pork chop hamburger jerky. Shoulder spare ribs shankle short loin meatball tri-tip ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.</p>
            <div class="authorized_links">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </div>
          </div>
      </li>

        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="#" alt="test">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to pull off 12 (Well Executed) Startups in 12 Months</a></h2>
            <p class="description">Post acon ipsum dolor amet ball tip biltong pork loin pork chop hamburger jerky. Shoulder spare ribs shankle short loin meatball tri-tip ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.</p>
            <div class="authorized_links">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </div>
          </div>
      </li>

        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="#" alt="test">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to pull off 12 (Well Executed) Startups in 12 Months</a></h2>
            <p class="description">Post acon ipsum dolor amet ball tip biltong pork loin pork chop hamburger jerky. Shoulder spare ribs shankle short loin meatball tri-tip ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.</p>
            <div class="authorized_links">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </div>
          </div>
      </li>
    </ul>
  </div>
  </div>

  <div class="pagination">
  <span class="previous_page disabled">Previous</span>
  <em class="current">1</em>
  <a href="#">2</a>
  <a class="next_page" href="#">Next</a>
</div>
</div>

