<header id="main_header" class="cf">
    <div class="wrapper_wide">
      <a href="index.html" id="logo">Podcast.fm</a>
      <nav>
        <ul>
         <li><a href="podcasts.html">Explore</a></li>
         <li><a href="sign-in.html">Sign In</a></li>
         <li><a href="sign-up.html">Create a Podcast</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="podcast_show">
    <div id="show_banner">
      <div class="wrapper_skinny">
      <h1>The Rocketship Podcasts</h1>
      <p class="description">Post acon ipsum dolor amet ball tip biltong pork loin pork chop hamburger jerky. Shoulder spare ribs shankle short loin meatball tri-tip ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.</p>
      <a href="#" class="subscribe_link">ITunes</a>
      <a href="#" class="subscribe_link">Sticher</a>
      <a href="#" class="subscribe_link">Podbay</a>
      </div>
    </div>


  <div id="breadcrumb">
    <a href="#">
      All Podcasts
      <span>/</span>
      The RocketShip Podcast
    </a>
  </div>

  <div id="episode_content">
    <div class="wrapper_skinny">
      <img src="https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg" alt="london" class="
      current_episode_thumbnail">
      <h2>How to pull off 12 (Well Executed) Startups in 12 Months</h2>
       <p class="description">Post acon ipsum dolor amet ball tip biltong pork loin pork chop hamburger jerky. Shoulder spare ribs shankle short loin meatball tri-tip ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.</p>
    </div>
  </div>


  <div id="episodes">
    <div class="wrapper_skinny">
      <ul class="cf">
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg" alt="Narwhals Podcast" alt="test">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to pull off 12 (Well Executed) Startups in 12 Months</a></h2>
            <p class="description">Post acon ipsum dolor amet ball tip biltong pork loin pork chop hamburger jerky. Shoulder spare ribs shankle short loin meatball tri-tip ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.</p>
          </div>
      </li>

        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg" alt="Narwhals Podcast">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to pull off 12 (Well Executed) Startups in 12 Months</a></h2>
            <p class="description">Post acon ipsum dolor amet ball tip biltong pork loin pork chop hamburger jerky. Shoulder spare ribs shankle short loin meatball tri-tip ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.</p>
          </div>
      </li>

        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="#" alt="test">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to pull off 12 (Well Executed) Startups in 12 Months</a></h2>
            <p class="description">Post acon ipsum dolor amet ball tip biltong pork loin pork chop hamburger jerky. Shoulder spare ribs shankle short loin meatball tri-tip ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.</p>
          </div>
      </li>

        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="#" alt="test">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">How to pull off 12 (Well Executed) Startups in 12 Months</a></h2>
            <p class="description">Post acon ipsum dolor amet ball tip biltong pork loin pork chop hamburger jerky. Shoulder spare ribs shankle short loin meatball tri-tip ham doner picanha capicola cow pancetta. Kielbasa tail bacon t-bone, strip steak jerky filet mignon. Capicola ground round porchetta turkey pastrami jowl frankfurter shankle meatloaf kevin.</p>
          </div>
      </li>
    </ul>
  </div>
  </div>

  <div class="pagination">
  <span class="previous_page disabled">Previous</span>
  <em class="current">1</em>
  <a href="#">2</a>
  <a class="next_page" href="#">Next</a>
</div>
</div>
