<div id="background">
  <header class="cf">
      <div class="wrapper_wide">
      <a href="index.html" id="logo">Podcast.fm</a>
      <nav>
        <ul>
         <li><a href="podcasts.html">Explore</a></li>
         <li><a href="sign-in.html">Sign In</a></li>
         <li><a href="sign-up.html">Create a Podcast</a></li>
        </ul>
      </nav>
      </div>
  </header>
  <div class="wrapper_skinny">
     <h1>Discover your new favorite <br> podcast, or create your own</h1><br>
      <a href="sign-in.html" class="button button_highlight">Create Podcast</a>
      <a href="sign-up.html" class="button button_white">Explore</a>
  </div>
  </div>


  

  


