
  <header id="main_header" class="cf">
    <div class="wrapper_wide">
      <a href="index.html" id="logo">Podcast.fm</a>
      <nav>
        <ul>
         <li><a href="podcasts.html">Explore</a></li>
         <li><a href="sign-in.html">Sign In</a></li>
         <li><a href="sign-up.html">Create a Podcast</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div id="banner" class="sign_up_banner">
    <h1>Create a podcast its completely free</h1>
  </div>

