
  <header id="main_header" class="cf">
    <div class="wrapper_wide">
      <a href="index.html" id="logo">Podcast.fm</a>
      <nav>
        <ul>
         <li><a href="podcasts.html">Explore</a></li>
         <li><a href="sign-in.html">Sign In</a></li>
         <li><a href="sign-up.html">Create a Podcast</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div id="banner" class="sign_in_banner">
    <h1>Welcome back. Its nic to see you</h1>
  </div>

  <div id="form">
    <div class="wrapper_skinny">
      <form>

        <div class="field">
          <label>Email</label><br>
          <input type="email" />
        </div>


        <div class="field">
          <label>Password</label><br>
          <input type="password" />
        </div>

        <div class="field">
          <label>Text</label><br>
          <input type="text" />
        </div>


        <div class="field">
          <label>Text Area</label><br>
          <textarea></textarea>
        </div>

        <div class="actions">
          <input type="submit" class="button 
        button_highlight button_block">
        </div>
      </form>
    </div>
    </div>

