

 body {
  font-family: 'Open Sans', sans-serif;
 }



#background {
  background: url('https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  
  header {
    padding: 3rem 0;
    #logo {
      float: left;
      text-transform: uppercase;
      font-weight: 700;
      color: $white;
      text-decoration: none;
    }
    nav {
      float: right;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-left: 2.5rem;

          a {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
  h1 {
    color: $white;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 7rem 0 2rem 0;
  }

  .button {
      margin: 1.5rem 2.5% 0 2.5%;
 }
}

 .wrapper_wide {
  width: 80%;
  margin: 0 auto;
 }

  .wrapper_skinny {
  width: 50%;
  margin: 0 auto;
 }

  .wrapper {
  width: 80%;
  margin: 0 auto;
 }

 .cf:before, .cf:after {
  content: " ";
  display: table;
 }

 .cf:after {
  clear: both;
 }

 #notice_wrapper {
  width: 100%;
  position: absolute;
  background: rgba(208, 103, 82, 0.85);
  z-index: 999;

  p {
    color: $white;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1.5rem 0;
  }
 }

 .button {
  color: $white;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;
 }


 .button_highlight {

  background: $highlight;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($highlight, 7.5%);
  }
 }

 .button_white {
  text-decoration: none;
  background: $white;
  color: $dark;
  transition: background .4s ease-in-out;
   
&:hover {
    background: darken($white, 7.5%);
  }
 }

.button_block {
  display: block;
  margin: 0 auto;
}


#main_header {
   color: $dark;
   background-size: $white;
   padding: 2.5rem 0;
   #logo {
      float: left;
      text-transform: uppercase;
      font-weight: 700;
      color: $dark;
      text-decoration: none;
    }
    nav {
      float: right;
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-left: 2.5rem;

          a {
            color: $dark;
            text-decoration: none;
          }
        }
      }
    }
}

#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;
  h1 {
    text-align: center;
    color: $white;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0px;
    padding: 8rem 0;
  }
}


.podcast_banner {
  background-image: url('newyork.jpeg');
}

.sign_in_banner {
  background-image: url('beach.jpeg');
}

.sign_up_banner {
  background-image: url('guitar.jpeg');
}

.pagination:before, .pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 1rem 0 5rem 0;
  a, .previous_page, .current, .next_page {
    padding: 0.75rem 1rem;
    margin: 0 .25rem;
    border-radius: .15rem;
    line-height: 1.25;
    text-decoration: none;
    background-color: #EDEFF5;
    font-weight: 700;
    font-size: .7rem;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }

  .disabled {
    color: #C0C0C0;
    &:hover {
      color: #C0C0C0;
      background: #EDEFF5;
    }
  }
}

#breadcrumb {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid lighten($dark, 75%);
  font-weight: 700;
  font-size: 1rem;
 
  a {
    color: lighten($dark, 45%);
    text-decoration: none;
  }
  span {
    margin: 0 .5rem;
  }
  }
  #episodes {
    padding: 3rem 0;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding-bottom: 2rem;
        border-bottom: 1px solid lighten($dark, 75%);
        margin-bottom: 2rem;
        &:last-child {
          border-bottom: none;
        }

        .episode_thumbnail {
          width: 22%;
          float: left;
          img {
            width: 10rem;
            max-width: 100%;
            border-radius: .35rem;
          }
        }
        .episode_overview {
          width: 76.5%;
          float: left;
          margin-left: 1.5%;
        h2 {
          a {
            color: $dark;
            text-decoration: none;
          }
        }
        .description {
          color: lighten($dark, 25%);
        }
        .authorized_links {
          font-weight: 700;
          font-size: 1.5rem;
          a {
            color: $highlight;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
#episode_content {
  padding: 4rem 0;
  margin-bottom: 4rem;
  border-bottom: 1px solid lighten($dark, 75%);
  .current_episode_thumbnail {
    display: block;
    margin: 0 auto 2rem auto;
    width: 10rem;
    max-width: 100%;
    border-radius: .35rem;
  }
  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .description {
    text-align: center;
    font-size: .9em;
    line-height: 1.7;
    color: lighten($dark, 25%);
  }
}

#links {
  padding: 2rem 0;
  ul {
    list-style: none;
    padding-left: 0;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid lighten($dark, 75%);
    li {
      display: inline;
      margin-right: 1em;
      font-weight: 700;
      a {
        color: $dark;
        text-decoration: none;
        &:hover {
          color: $highlight;
      }
    }
  }
  .current {
        background: $highlight;
        color: $white;
    }
  }
}

.field {
  margin: .5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], 
input[type="password"], textarea {
  width: 100%;
  height: 2.5rem;
  padding: .25rem 1rem;
  background: $light;
  border: 1px solid darken($light, 5%);
  border-radius: .35rem;
  margin-top: .5rem;
  }

  textarea {
    min-height: 8rem;
    margin-top: .5rem !important;
  }

  #form {
    padding: 0 0 0.5rem 0;
  }



